# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.cache/

# Node
node_modules/
package-lock.json

# Tailwind
assets/css/main.css

# Ruby
.bundle/
vendor/
Gemfile.lock

# OS
.DS_Store
Thumbs.db
